<!DOCTYPE html>  
<html lang="en">  
<head>  
    <link href="../icons/Login.ico" rel="SHORTCUT ICON">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">  
    <title><%=username%> 已登出</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../css/metro-all.min.css">

    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script> 
    <script type="text/javascript" src="../js/metro.min.js"></script> 
    <script type="text/javascript" src="../js/parse.js"></script> 
    <style>
    </style>
    <script>
        var serverURI = window.location.host;
        
        $(document).ready(function() {
            Parse.initialize("1mKE4z1Ys3ZF6eHCVhkaqdOpxGJFcAgZreXqRkAN", "XzcesPGvhrRSC0ZOZRBCfkdH3y1dV5hgBVA0pH1P", "I5LnTbJiP0kuh1dLM3PZw4lXO8UpEilqU2TLzDiB");
            Parse.serverURL = "https://"+serverURI+"/1";
            
            var currentUser = Parse.User.current();
            if (currentUser) {
                Parse.Session.current().then(function(session) {
                    session.set("UI_sessionToken", "");
                    session.save().then(function() {
                        Parse.User.logOut();
                        currentUser = null;
                        window.location.href = "http://" + serverURI;
                    });
                });
            }
        });
        
    </script>
</head>
    <body>
        <h1>已登出，即將跳轉到登入頁面!</h1>
    </body>
</html>  
