<!DOCTYPE html>  
<html lang="en">  
<head>  
    <link href="../icons/Signup.ico" rel="SHORTCUT ICON">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">  
    <title>W-Link 註冊</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../css/metro-all.min.css">

    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script> 
    <script type="text/javascript" src="../js/metro.min.js"></script> 
    <script type="text/javascript" src="../js/parse.js"></script> 
    <style>
        .random_background {
            background-image: url(../images/random_background/<%=background_img_file%>);
            background-position: 50% 50%;
            height: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .login-form {
            width: 600px;
            height: auto;
            top: 55%;
            margin-top: -350px;
        }
    </style>
    <script>
        var serverURI = window.location.host;
        var wsUri = "wss://"+serverURI;

        $(document).ready(function() {
            Parse.initialize("1mKE4z1Ys3ZF6eHCVhkaqdOpxGJFcAgZreXqRkAN", "XzcesPGvhrRSC0ZOZRBCfkdH3y1dV5hgBVA0pH1P", "I5LnTbJiP0kuh1dLM3PZw4lXO8UpEilqU2TLzDiB");
            Parse.serverURL = "https://"+serverURI+"/1";
        });

        function onClick_LogIn_Btn()
        {
            var error = false;
            var account_ID = $('#account_signup_username').val();
            var account_psw = $('#account_signup_passworld').val();
            var account_confirm_psw = $('#account_signup_confirm_passworld').val();
            var account_email = $('#account_signup_email').val();
            
            var error_msg = "";
            
            if(account_ID==null || account_ID==""){
                error = true;
                error_msg = "請輸入帳號";
            }
            else if(account_ID.length<4){
                error = true;
                error_msg = "帳號過短";
            }
            else if(account_ID.length>30){
                error = true;
                error_msg = "帳號過長";
            }
            else if(account_psw==null || account_psw==""){
                error = true;
                error_msg = "請輸入密碼";
            }
            else if(account_psw.length<8){
                if(error==true){
                    error_msg = "帳號/密碼過短";
                }
                else{
                    error_msg = "密碼過短";
                }
                error = true;
            }
            else{
                if(account_psw!=account_confirm_psw){
                    error_msg+="密碼不一致";
                    error = true;
                }
                else{
                    if(account_email.indexOf('@')<0){
                        error_msg+="電子郵件無效";
                        error = true;
                    }
                }
            }
            
            if(error)
            {
                $("#account_show_signup_status").html(error_msg);
                return;
            }
            
            var user = new Parse.User();
            user.set("username", account_ID);
            user.set("password", account_psw);
            user.set("email", account_email);
            
            user.signUp(null, {
                success: function(user) {
                    Parse.User.logIn(account_ID, account_psw, {
                        success: function(user) {
                            //signUp success --> redirect to homepage
                            Parse.Session.current().then(function(session) {
                                session.set("UI_sessionToken", "<%=session_token%>");
                                session.save().then(function() {
                                    window.location.href = "http://" + serverURI;
                                });
                            });
                        },
                        error: function(user, error) {
                            // The login failed. Check error to see why.
                            switch(error.code){
                                case 101:
                                case 500:
                                    $("#account_show_signup_status").html("伺服器錯誤");
                                    break;
                            }
                        }
                    });
                },
                error: function(user, error) {
                    // Show the error message somewhere and let the user try again.
                    switch(error.code){
                        case 400:
                        case 202:
                            if(error.message=="Account already exists for this username."){
                                $("#account_show_signup_status").html("帳號已經存在");
                            }
                            break;
                        case 203:
                            if(error.message=="Account already exists for this email address."){
                                $("#account_show_signup_status").html("電子郵件已經被別的帳號註冊");
                            }
                            break;
                        case 500:
                            $("#account_show_signup_status").html("伺服器錯誤");
                            break;
                    }
                }
            });
        }

        function onClick_Facebook_SignUp_Btn()
        {
            try {
                const users = await = Parse.FacebookUtils.logIn();
                if (!user.existed()) {
                    //alert("User signed up and logged in through Facebook!");
                } else {
                    //alert("User logged in through Facebook!");
                }
            } catch(error) {
                alert("User cancelled the Facebook login or did not fully authorize.");
            }
        }
    </script>
</head>
    <body class="h-vh-100">
        <div class="random_background">
            <div style="background: #1e1e1e80;height: 100%;padding-top: 5%;">
                <div class="login-form bg-white p-6 mx-auto border bd-default win-shadow">
                        <div class="container-fluid">
                            <h2 class="text-light" style="display: inline;">W-Link</h2>
                            <div class="place-right" style="top: 5px;">
                                <h4 class="fg-red" style="margin: 0" id="account_show_signup_status"></h4>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">
                            <div class="form-group">
                                <h4 class="fg-emerald">帳號名稱(請勿少於4字元或超過30個字元)</h4>
                                <input type="text" data-role="input" id="account_signup_username" data-prepend="<span class='mif-user'>" placeholder="帳號" data-validate="required email">
                                <span id="account_sign_up_username_textstatus"></span>
                            </div>
                            <div class="form-group">
                                <h4 class="fg-emerald">密碼(至少8個字元)</h4>
                                <input type="password" data-role="input" id="account_signup_passworld" data-prepend="<span class='mif-key'>" placeholder="請輸入您的密碼" data-validate="required minlength=8">
                                <span id="account_sign_up_passworld_textstatus"></span>
                            </div>
                            <div class="form-group">
                                <h4 class="fg-emerald">請再輸入一次密碼(至少8個字元)</h4>
                                <input type="password" data-role="input" id="account_signup_confirm_passworld" data-prepend="<span class='mif-checkmark'>" placeholder="確認密碼" data-validate="required minlength=8">
                                <span id="account_sign_up_reenter_passworld_textstatus"></span>
                            </div>
                            <div class="form-group">
                                <h4 class="fg-emerald">電子郵件(驗證用，請務必確實填寫)</h4>
                                <input type="text" data-role="input" id="account_signup_email" data-prepend="<span class='mif-envelop'>" placeholder="電子郵件" data-validate="required email">
                                <span id="account_sign_up_email_textstatus"></span>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="form-group mt-5">
                                <h4 class="place-left fg-emerald">已經有帳號?</h4>
                                <div class="button place-left bg-amber fg-white" style="margin-top: 10px;margin-left: 15px;" onclick=window.location.href="http://"+serverURI+"/account/login"><span class="mif-enter"></span><span style="margin-left: 8px">登入</span></div>
                                <div class="button place-right bg-green fg-white" style="margin-top: 10px;" onclick=onClick_LogIn_Btn()><span class="mif-plus"></span></span><span style="margin-left: 8px">註冊</span></div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="form-group mt-4">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>  
</html>  
