
.air_valve_en_dis_main_sw {
    width: 200px;
}
.air_valve_en_dis_main_sw-sw {
    width: 40px;
    right : 160px;
}
.air_valve_en_dis_main_sw_inner {
}
.air_valve_en_dis_main_sw_inner:before, .air_valve_en_dis_main_sw_inner:after {
    height : 80px;
    color: #FFFFFF;
    font-size: 30px;
    padding: 25px;
}
.air_valve_en_dis_main_sw_inner:before {
    content: "全部啟用";
    background-color: #f09609;
    text-align: left;
}
.air_valve_en_dis_main_sw_inner:after {
    content: "全部停用";
    background-color: #7f7f7f;
    text-align: right;
}

.air_valve_on_off_main_sw {
    width: 200px;
}
.air_valve_on_off_main_sw-sw {
    width: 40px;
    right : 160px;
}
.air_valve_on_off_main_sw_inner {
}
.air_valve_on_off_main_sw_inner:before, .air_valve_on_off_main_sw_inner:after {
    height : 80px;
    color: #FFFFFF;
    font-size: 30px;
    padding: 25px;
}
.air_valve_on_off_main_sw_inner:before {
    content: "全部開啟";
    background-color: #8cbf26;
    text-align: left;
}
.air_valve_on_off_main_sw_inner:after {
    content: "全部關閉";
    background-color: #e51400;
    text-align: right;
}

.air_valve_en_dis_sw {
    width: 250px;
}
.air_valve_en_dis_sw-sw {
    width: 50px;
    right : 200px;
}
.air_valve_en_dis_sw_inner {
}
.air_valve_en_dis_sw_inner:before, .air_valve_en_dis_sw_inner:after {
    height : 80px;
    color: #FFFFFF;
    font-size: 30px;
    padding: 25px;
}
.air_valve_en_dis_sw_inner:before {
    content: "氣閥門啟用";
    background-color: #f09609;
    text-align: left;
}
.air_valve_en_dis_sw_inner:after {
    content: "氣閥門停用";
    background-color: #7f7f7f;
    text-align: right;
}

.air_valve_on_off_sw {
    width: 250px;
}
.air_valve_on_off_sw-sw {
    width: 50px;
    right : 200px;
}
.air_valve_on_off_sw_inner {
}
.air_valve_on_off_sw_inner:before, .air_valve_on_off_sw_inner:after {
    height : 80px;
    color: #FFFFFF;
    font-size: 30px;
    padding: 25px;
}
.air_valve_on_off_sw_inner:before {
    content: "氣閥門開啟";
    background-color: #8cbf26;
    text-align: left;
}
.air_valve_on_off_sw_inner:after {
    content: "氣閥門關閉";
    background-color: #e51400;
    text-align: right;
}
